<?xml version="1.0"?>
<config>
    <modules>
        <SnowCommerce_ProductFilter>
            <version>0.1.0</version>
        </SnowCommerce_ProductFilter>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sc_filter>
                    <file>productfilter.xml</file>
                </sc_filter>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <sc_filter>
                <class>SnowCommerce_ProductFilter_Model</class>
            </sc_filter>
        </models>
        <blocks>
            <sc_filter>
                <class>SnowCommerce_ProductFilter_Block</class>
            </sc_filter>
        </blocks>
        <helpers>
            <sc_filter>
                <class>SnowCommerce_ProductFilter_Helper</class>
            </sc_filter>
        </helpers>
        <resources>
            <sc_filter_setup>
                <setup>
                    <module>SnowCommerce_ProductFilter</module>
                </setup>
            </sc_filter_setup>
        </resources>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <sc_filter>
                        <type>singleton</type>
                        <class>SnowCommerce_ProductFilter_Block_Observer</class>
                        <method>addField</method>
                    </sc_filter>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
            <catalog_block_product_list_collection>
                <observers>
                    <sc_filter_frontend>
                        <type>singleton</type>
                        <class>SnowCommerce_ProductFilter_Block_Observer</class>
                        <method>sortCollection</method>
                    </sc_filter_frontend>
                </observers>
            </catalog_block_product_list_collection>
        </events>
    </global>
</config>